<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shihh.zerojob.spring.mapper.EventMapper">

    <select id="getNextDayEvent" resultType="cn.shihh.zerojob.core.model.JobEvent">
        select *
        from job_event
        where event_status = 'RUNNING' and(start_time is null or start_time &lt;= #{tomorrow})
            and (end_time is null or date(end_time) &gt;= date(#{tomorrow}))
        and (job_count > executed_count or job_count = -1)
    </select>
</mapper>